<header>
  <div class="row bg-info header">
    <div class="col-2 text-center m-auto">
        <a href="<%= root_path %>"> <!-- Link to the root (home) route -->
            <i class="fa-solid fa-arrow-left text-white"></i>
        </a>
    </div>
    <div class="col-8 text-center m-auto">
      <h2 class="m-auto text-white"><%= controller_name != 'registrations' ? 'LOGIN' : 'REGISTER' %></h2>
    </div>
    <div class="col-2">
      
    </div>
  </div>

</header>