<section class="container page-center">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Budget App</h1>
            <div class="row">
                <div class=" mt-3 col-sm-12 col-xs-12">
                    <%= button_to "Log in", new_user_session_path, class: "btn btn-info w-50", method: :get %> 
                </div>
                <div class=" mt-1 col-sm-12 col-xs-12">
                    <%= button_to "Sign up", new_user_registration_path, class: "btn btn-warning w-50", method: :get %> 
                </div>    
            </div>
        </div>
    </div>
</section>