body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F9F9F9;
}

main {
  flex: 1;
}

.fixed-bottom {
  position: sticky;
  bottom: 0;
}

.bg-info,.btn-info {
  background-color: #3778c2 !important;
}

.green {
  background-color: #5fb523;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.header {
  height: 10vh;
}

.actions-btn {
  border-style: none;
  color: white;
  font-size: 17px;
  font-family: 'Proxima Nova', sans-serif;
}

.actions {
  position: absolute;
  top: 3%;
  right: 3%;
}

.custom-field-height {
  height: 8vh;
  padding-left: 2%;
}

.text_color {
  color: #434b54;
}

header {
  overflow: hidden;
}
