/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
 }

 h1,h2,h3,h4,h5 {
   font-family: 'Proxima Nova Bold', sans-serif;
 }

 .header {
   height: 10vh;
 }

 .actions-btn {
    border-style: none;
    color: white;
    font-size: 17px;
    font-family: 'Proxima Nova', sans-serif;
 }

 .actions {
   position: absolute;
   top: 3%;
   right: 3%;
 }
 .custom-field-height {
   height: 8vh;
   padding-left: 2%;
 }
 .text_color {
   color: #434b54 
 }