
<main>
    <h1>Categories</h1>
</main>
<footer class="fixed-bottom bg-info">
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 mt-3">
                <%= button_to "Add Category", new_category_path, class: "btn btn-info w-100 text-white border-white", method: :get %> 
            </div>
        </div>
    </div>
</footer>
